body
{
background-color: pink;
}
 
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  #user_name{
    display: inline-block;
	margin-left: 20px
  }

  #login_div{
 
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
  
 




